# Sui Network
VITE_ORIGINAL_PACKAGE_ID=0x5d0758d8d0b31570c5d9d1a7d3d58db20fb1514b01b53f6d3ebfde87a5f60278
VITE_FAUCET_POOL_ID=0x708ab1553eeb1c2ce475f098a71648ccc2fc06ec3ccdd7e5d5d2acaff566aa3f
VITE_USDC_LENDING_POOL_ID=0x4d8839f0dc2e8de2200312a90ac7d2d8fbb4a9e593a7f2896340405bb666a30d
VITE_BORROW_REGISTRY_ID=0x42aa67fc1c179459922ba6a8e55d55da4bdc1aa354eea165d7447943f7f15ac8

VITE_FAUCET_POOL_MODULE_NAME=faucet_pool
VITE_USDC_LENDING_POOL_MODULE_NAME=usdc_lending_pool
VITE_BORROW_CONTROLLER_MODULE_NAME=borrow_controller

# Stacks Network
VITE_STACKS_NETWORK=testnet
VITE_STACKS_CONTRACT_ADDRESS=ST1WVZNYKMK1MS2V2B728ZWJ2C76TAN49C6HSY7JF
VITE_STACKS_COLLATERAL_CONTRACT_NAME=collateral-v2
